.results {
  .searching {
    font-size: 18px;
    color: #08a3de;
  }
  position: relative;
  p {
    text-align: initial;
    color: #08a3de;
    font-size: 14px;
    span{
      font-weight: 600;
    }
  }
.searchlist-row {
    .list {
      display: flex;
      margin: 5px 0px;
      background-color: #fff;
      height: 100px;
      img {
        width: 150px;
        object-fit: cover;
      }
      div {
        text-transform: capitalize;
        font-size: 18px;
        font-weight: bold;
        font-family: monospace;
        padding: 10px;
        color: #08a3de;
      }
    }
  }
}